@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");

:root {
  --primario: #f564a9;
  --secundario: #533b4d;
  --fuente: #fae3c6;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Raleway";
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
}
